.product-card {
    overflow: hidden;
    width: 250px;
    height: 250px;
    font-family: Calibri, sans-serif;
}

.product-card-header {
    text-align: center;
    padding: 10px;
}

.product-image {
    width: 100px;
    height: 100px;
}

.product-card-body {
    padding: 10px;
}

.product-title {
    font-size: 16px;
    margin: 10px 0;
}

.product-price {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}


.product-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
    flex-shrink: 0;
    border-top: 1px solid #ddd;
}

.quantity-button {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #888;
    cursor: pointer;
}

.product-quantity {
    font-size: 16px;
}

.add-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.product-with-quantity {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    width: 250px;
    height: 300px;
}

.product-with-quantity:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.test-container {
    padding: 50px;
    box-sizing: border-box;
}
